* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
}

.home-section {
    padding: 1rem;
}
.home-section h1 {
    padding: 1rem 0;
}

.home-section .create-record {
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
}

.form-modal,
.edit-form-modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.form {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.form-modal form div {
    padding: 1rem 1rem;
}

input[type="text"],
input[type="email"],
input[type="submit"],
select {
    padding: 1rem;
    width: 25rem;
}

#close-modal {
    padding: 0.4rem 1rem;
}
